/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

button:focus {
    outline: 0px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

p {
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1;
}

.clr {
    clear: both;
}





/* section head style */

.section_head {}

.section_head h5 {
    color: #878787;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

.section_head h2 {
    color: #222222;
    font-weight: 700;
    font-size: 40px;
    padding: 10px 0;
}

.section_head p {
    color: #666666;
    font-size: 14px;
    padding: 0 25px;
}



/* End of common CSS */

/*=========================

    02.HEADER AREA CSS

=========================*/

.navbar{
    text-align: center;
    padding-bottom: 30px;
}
.navbar-nav{
    text-align: center;
}
.nav-item{
    margin-top: 20px;
}
.navbar-collapse{
}

.form-inline .form-control{
    border: none;
}

.navbar-nav .dropdown button:focus{
    outline: 0;
}

/*=========================

    02.HEADER AREA CSS

=========================*/

.user_content{
    margin-top: 20px;
}

.content{

    padding-top: 20px;
}
.user{
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 20px;
}
.user h4{
    padding-top: 20px;
}
.user .img{
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 50%;
}

.user .img i {
    font-size: 70px;
    padding-top: 10px;
}
.user_details{
    text-align: center;
    border-bottom: 1px solid;
    padding-top: 20px;
    padding-bottom: 20px;
}
.user_skills{
    border-bottom: 1px solid;
    padding-top: 20px;
    padding-bottom: 20px;
}
.user_skills h4{
    margin-left: 10px;
}
.user_lang h4{
    margin-left: 10px;
}
.user_skills span{
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
    font-size: 13px;
}
.sname{
    margin-left: 10px;
}
.user_lang{
    padding-top: 20px;
    padding-bottom: 20px;
}
.about{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 10px;
}
.about p{
    padding-left: 10px
}
.edu{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 10px;
}
.edu h4{

}
.edu_details{
    padding-left: 30px;
}
.edu_details h6{
    padding: 0 10px;
}
.edu_details p{
    padding-left: 10px
}





.bg {
    background-image: url(../images/bg.png);
    background-position: left;
    background-size: contain;
    margin-top: 200px;
}
.bg .card.login{
    height: 400px;
    padding-top: 100px;
}
.bg .card{
}

.offer{
    margin-top: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 10px;
}
.offer a{
    border: none;
    text-decoration: none;
    padding: 5px;
    color: #ffffff;
}
.offer span{
    border: none;
    text-decoration: none;
    padding: 5px;
    color: #ffffff;
}
.btn1{
    background: #FE4D40;
}
.btn2{
    background: #C7C8C8;
    margin-left: 10px;
}

.btn3{
    background: #FE4D40;
    padding: 5px;
    text-decoration: none;
    color: #ffffff !important;
}
.details{
    padding: 10px 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


/*=========================

    Companis AREA CSS

=========================*/

.companis_list{
    background: #1E1E1E;
}
.companis_list .com_head{
    background: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}
.companis_list .com_head h2{
    padding: 10px;
    padding-left: 20px;
}

.companis{
    background: #ffffff;
    padding: 15px 0;
    margin-bottom: 20px;
}
.companis p{
    color: #6E6F6F;
    font-size: 13px;
}
.companis .available{
    background: #FE4D40;
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.companis h5{
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.companis a{
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}
.companis .view{
    border-top: 1px solid;
    padding-top: 15px;
}
.companis i{
    font-size: 80px;
}

/*=========================

    JOBS AREA CSS

=========================*/
.job_list{
    background: #1E1E1E;
}
.job_content{
    background: #ffffff;
    padding: 20px 15px;
    margin: 20px 0;
}
.job_content .head{
    padding-bottom: 10px;
}
.job_content .des p{
    color: #6E6F6F;
    font-size: 15px;
}
.job_content .btns a{
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
}

/*=========================

    EVENT AREA CSS

=========================*/
.event_list{
    background: #1E1E1E;
}
.event_content{
    background: #ffffff;
    padding: 20px 15px;
    margin: 20px 0;
}
.event_content .head{
    padding-bottom: 10px;
}

.event_content .head p{
    padding-bottom: 10px;
    color: #6E6F6F;
}
.event_content .des p{
    color: #6E6F6F;
    font-size: 15px;
}
.event_content .btns a{
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
}
